$white: #ffffff;
$light-blue: #d9fff5;
$blue: #b8ffec;
$bright-blue: #41f6d7;
$light-grey: #eaeaea;
$grey: #7e7e82;
$dark: #1b1c21;
$pink: #ff3e79;
$gradient: #f8f8f8;
$modalshadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
  16px 0px 52px rgba(14, 24, 80, 0.2);
$bullet: #979797;

$mobile: 320px;
$tablet: 768px;
$laptopL: 1440px;
