.modal__feedback {
  position: fixed;
  min-width: 320px;
  max-width: 440px;
  z-index: 5;
  top: 0;
  right: 0;
  transition: 1s;
  right: -768px;
  visibility: hidden;
  transition: 1s;

  @include mediaTablet {
    border-left: 1px solid $blue;
  }
}

.modal-open {
  right: 0;
  visibility: visible;
}
.modal__input--message {
  height: 118px;
  padding-bottom: 70px;
}
